.adminpanel-start{
  margin-top: 100px;
}

.sidebar-panel{
  margin: 0;
  padding: 0;
}

.btn-group-vertical{
  width: 80%;
  padding-left: 10%;
}

.btn-group-vertical a{
  width: 100%;
  padding: 15px;
  margin: 0;
  width: 100%;
  border: 1px solid #e0e0e0;
}

.btn-group-vertical a:hover, .btn-group-vertical a:focus{
  background-color: #ff9800 ;
  color: #fff;
}
